@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900|Lato:400,400i,700');

body {
  background: #ffffff;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 1.6em;
}

h1 {
  color: #000;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 700;
  text-transform: uppercase;
  background: -webkit-linear-gradient(top, #065a92 0, #089cfe 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
h3 {
  color: #000;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
    font-size: 1.5em;
    background: -webkit-linear-gradient(top, #ff6000 0, #ffc000 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

/*---------------------------------------
   title section              
-----------------------------------------*/

#title {
  background: #000000;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
}

#title h1 {
  color: #ffffff;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 4em;

}

#title img{
  width:50%;
}

/*---------------------------------------
   details section              
-----------------------------------------*/




.nav-tabs {
  margin-bottom: 10px;
  margin-top: 20px;
}

.nav-tabs>li {
  float: left;
  margin-bottom: -1px;

}

.nav-tabs>li>a {
  
  color: #000000;
  font-size: 2.7em;
  margin-right: 2px;
  border: 2px solid #000000;
  border-radius: 1px;
  font-family: 'Cinzel Decorative', cursive;

}

.nav-tabs>li>a:hover {
  font-size:2.8em;
  background-color: #ffffff;
  color: red;
  border: 3px solid #000000;
  border-radius: 1px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  color: red;
  cursor: default;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 1px;
  border-bottom-color: red;
}

.tab-content {
  padding-top: 20px;
}


@media (max-width: 720px) {
#title h1 {

  font-size: 2.5em;

}

.nav-tabs>li>a {
  font-size: 1.5em;
}


